
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> Docker ###
/.docker/

###> SQLite ###
*.db
*.sqlite
*.sqlite3
###< SQLite ###

###> IDEs ###
/.idea/
*.swp
*.swo
*~
.DS_Store
###< IDEs ###

###> Coverage ###
/coverage/
/.phpunit.cache/
###< Coverage ###
